body{
    
   background-color: rgb(176, 176, 252);
    padding: 0;
    margin: 0;
   
   
}

body{

    background-color: rgb(163, 161, 236);
    color: black;
}

#theme {
    border-radius: 15%;
     /* padding-top: 15px; */
     /* margin-top: 1%; */
     
     
     background-color: rgb(88, 106, 242);
     font-weight: 600;
     color: rgb(192, 202, 250);
     font-family: serif;
    
     padding: 10px;
     

}

#box{
  position: relative;
  display: flex;
  /* align-items: center; */
  /* padding-right: 10px; */
 margin-left: auto;
 margin-top: ;
    
    
} 


.dark-mode{
    background-color: rgb(148, 150, 148);
    color: white;
}



#name{
    /* color: rgb(118, 3, 31); */
    font-style: italic;
    font-weight: 700;
    font-family: A;
    
}

img{

    border-radius: 150px;
   
    padding: 15px;
    width: 150px;
    
}
.navigatbar{
    padding-left: 80px;
}
a{
    text-decoration: none;
    /* font-size: 25px; */
    color: rgb(2, 18, 84);
    padding-right: 100px;
    padding-top: 20px;
    font-size: large;
    
}
a:hover{
    color: rgb(247, 103, 103);
}



.mainGrid{
    display: grid;
    grid-template-columns: auto auto  auto;
    margin: 30px;
}


.GridItem{
   
    border: 2px solid black;
    text-align: center;
    padding: 40px;
    margin: 20px;
    border-radius: 10%;
    
    
   /* align-items: center; */
}
.imgGrid{
    width: 250px;
    border-radius: 20px;
}
.GridItem button{
    font-size: 20px;
    background-color: blue;
    color: bisque;
    padding: 10px;
    border-radius: 20px;
}

.GridItem button:hover{
    background-color: bisque; /* بتغير لون الزر لما نأشر عليه*/
    color: blue;
}

.imgGrid:hover{
    width: 350px; /* عشان يكبر الصورة لما نأشر عليها*/
}

.GridItem p {
    font-size: larger;
    color: rgb(109, 30, 30);
 
}

#womenID{
    /* background-color:#F3E5F5; */
    background: linear-gradient(135deg, #fff5f5 0%, #f7e1e1 100%);
    background-attachment: fixed; /* لجعل الخلفية ثابتة أثناء التمرير */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.wbtn{
    background-color: #1a1a1a; /* أسود فاخر */
    color: #ffffff;
    border: none;
    padding: 10px 25px;
    border-radius: 25px; /* حواف دائرية تعطي لمسة أنثوية */
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.wbtn :hover{
    background-color: #d4af37; /* يتغير للذهبي عند التمرير */
    transform: translateY(-2px); /* حركة بسيطة للأعلى */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

#footer{ 
   
    
   background-color: rgb(124, 130, 220);
   display: flex;
   height: 100%;
   justify-content:center;/*   توسيط للعناصر جزء لليمين و جزء لليسار*/
   align-items:center; /* بتوسط العنصر بشكل عامودي*/
   margin-top: 20%;
   padding: 20px 0;
   
}
footer {
    /* position: fixed; */ /* بنحذفها عشان الفوتر ما يغطي عالصور*/
    /* bottom: 0; */
    width: 100%;
}
#Wfooter{
      
   background-color: rgb(253, 137, 210);
   display: flex;
   height: 100%;
   justify-content:center;/*   توسيط للعناصر جزء لليمين و جزء لليسار*/
   align-items:center; /* بتوسط العنصر بشكل عامودي*/
   margin-top: 20%;
   padding: 20px 0;
   
}

#footul{
   padding-right: 20px;
    gap:30%;/* المسافة بين العناصر*/
    margin-left: 5% ;
}

ul{
    list-style: none;/* حتى تكون القائمة بدون ترقيم*/
    display: flex;/* ليسهل علي تحريك العناصر و التحكم فيها*/
    /* gap: 80px;المسافة بين العناصر */
    margin-right: 300px; /*عشان احرك الليست كاملة */
    /* margin-left: 600px; */
    /* padding-top:10px; */
   
    
}




/*------------------------------*/

body {
    margin: 0;
    padding: 0;
   
}

/* --------------------Tab responsive------------------------------------------------- */

@media screen and (max-width:900px) {

    body{
        background-color: rgb(212, 210, 223);
        padding: 0;
        margin: 0;
    }

     .mainGrid{
    display: grid;
    grid-template-columns: auto auto ;
     
     }

  .GridItem{
   
    border: 2px solid black;
    text-align: center;
    padding: 1px;
    margin: px;
    margin-left: 1px;
    border-radius: 10%;
    
}

.imgGrid{
    width: 150px;
    border-radius: 50px;
}

.GridItem button{
    font-size: 20px;
    background-color: blue;
    color: bisque;
    padding: 15px;
    border-radius: 50px;
    margin-left: 15px;
}

ul{
   
    display: flex;    /*ليسهل علي تحريك العناصر و التحكم فيها */
    
  
    
} 

a{
    text-decoration: none;
    font-size: 20px;
    color: blanchedalmond;

    
}

.navigatbar{
    /* height: 150px; */
   display: flex; 
   align-items: center;
   justify-content: space-between; /* توزيع مسافات متساوية بين المجموعات */
  /* padding: 1px ; */
  gap: 5%;


 padding: 10px 20px;
padding-right: 5px;

  
  
    
  
    
}

}


/*--------------------------- mobile responsive -----------------------------------------------------*/

@media screen and (max-width:600px) {
    body{
        background-color: rgb(239, 175, 175);
         padding: 0;
         margin: 0;
    }
    
    .mainGrid{
    display: grid;
    grid-template-columns: auto auto ;
    /* margin: 15px; */
}

.GridItem{
   
    border: 2px solid black;
    text-align: center;
    padding: 1px;
    /* margin: px; */
    margin-left: 1px;
    border-radius: 10%;
    
}

.imgGrid{
    width: 100px;
    border-radius: 20px;
}

.GridItem button{
    font-size: 15px;
    background-color: blue;
    color: bisque;
    padding: 7px;
    border-radius: 50px;
    margin-left: 10px;
}

 .navigatbar {
 /* background-color: rgb(15, 55, 107); */
 display: flex;
 /* height: 150px; */
justify-content: space-between;
 align-items:center;
 padding: 10px 20px;
padding-right: 5px;
 

 

 
 
}







.GridItem p {
    font-size :small;
    color: rgb(109, 30, 30);
 
}

ul{
    list-style: none;/* حتى تكون القائمة بدون ترقيم*/
    display: flex;/* ليسهل علي تحريك العناصر و التحكم فيها*/
    gap: 40px  ;  /*المسافة بين العناصر*/
    /* margin-right: 20%; */
    /* margin-left: 20px; */
    margin-left: 40px;
  
    
} 

a{
    text-decoration: none;
    font-size: 17px;
    color: blanchedalmond;
    
    
    
}

img{

    border-radius: 150px;
    
    width: 150px;
    
    margin-top:75px;
    
    
} 

}