body {
    margin: 0;
    padding: 0;
    background-image: url('https://fraganote.com/cdn/shop/files/Banner_Web_1_1.png?v=1763796834&width=1440');
    
    height: 100%;
    background-size: cover;        
    /* background-position: center;   */
    /* background-repeat: no-repeat;  */
    
}

 /* .Navbar{
    background-color: rgb(34, 31, 29);
    background-image: url(https://img.pikbest.com/backgrounds/20220119/black-gold-light-effect-black-business-theme-background_6242794.jpg!sw800);
    display: flex;
    top: 0;
    height: 100px;
 }  */

 .navbar{
    color: rgb(254, 174, 206);
    padding-right: 100px;
 }

#name{
    color: rgb(118, 3, 31);
    font-style: italic;
    font-weight: 700;
    font-family: A;
    
}

/* .navbar{
    padding-right: 100px;
} */


.main{
    /* background-color: rgb(189, 157, 116); */
    /* background-image: url(https://thedieline.com/wp-content/uploads/2020/10/2d8c12fc-3cc2-4cac-8b2d-a426d5e60dc2_MoS_PoisonIvy123OCT19.jpg); */
     /* background-image: url(https://img.freepik.com/premium-photo/female-hand-with-bottle-perfume-dark-copy-space_392895-24027.jpg); 
     background-size:cover;
    background-repeat: no-repeat;
    width: 100%; */
    
   
    
}


#mainImg{
    /* height: 300px; */
}

/* .footer{
    background-color: rgb(207, 182, 149);
    display: flex;
    padding-top: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
} */

#footer{ 
   
    
   background-color: rgb(113, 3, 31);
   display: flex;
   
  justify-content:center;/*   توسيط للعناصر جزء لليمين و جزء لليسار
   /* align-items:center; بتوسط العنصر بشكل عامودي */
   margin-top: 100%;
   padding: 20px 0;
   
   
   
   
}
footer {
    /* position: fixed; */ /* بنحذفها عشان الفوتر ما يغطي عالصور*/
    /* bottom: 0; */
    width: 100%;
}

#footul{
   padding-right: 20px;
    gap:30%;/* المسافة بين العناصر*/
    margin-left: 5% ;
}

ul{
    list-style: none;/* حتى تكون القائمة بدون ترقيم*/
    display: flex;/* ليسهل علي تحريك العناصر و التحكم فيها*/
    gap: 80px;/* المسافة بين العناصر*/
    margin-right: 300px; /*عشان احرك الليست كاملة */
    /* margin-left: 600px; */
    /* padding-top:10px; */
    
   
    
}

a{
    color: rgb(201, 185, 185);
    font-size: large;
}