body {
    margin: 0;
    padding: 0;
    background-image : url('https://fraganote.com/cdn/shop/files/Banner_Web_1_1.png?v=1763796834&width=1440') ;
    background-color: rgb(142, 21, 142);
    height: 100%;
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;   
    background-attachment: fixed;   
    
    
}

#theme {
     border-radius: 15%;
     /* padding-top: 15px; */
     /* margin-top: 1%; */
     
     color: rgb(246, 163, 163);
     background-color: rgb(243, 93, 116);
     font-weight: 600;
     color: rgb(250, 198, 208);
     font-family: serif;
}






.navigatbar{
     padding-left: 80px;
     color: rgb(82, 1, 32);
     font-style:inherit;
 }

 a{
    text-decoration: none;
    /* font-size: 25px; */
    color: rgb(235, 248, 232);
    padding-right: 100px;
    padding-top: 20px;
    font-size: large;
    font-weight: 400;
    
}
a:hover{
    color: rgb(223, 201, 208);
}


#name{
    /* color: rgb(118, 3, 31); */
    font-style: italic;
    font-weight: 700;
    font-family: A;
    
}






#footer{ 
   
    
   background-color: rgb(113, 3, 31);
   display: flex;
   
  justify-content:center;/*   توسيط للعناصر جزء لليمين و جزء لليسار
   /* align-items:center; بتوسط العنصر بشكل عامودي */
   margin-top: 100%;
   padding: 20px 0;
   
   
   
   
}
footer {
    /* position: fixed; */ /* بنحذفها عشان الفوتر ما يغطي عالصور*/
    /* bottom: 0; */
    width: 100%;
}

#footul{
   padding-right: 20px;
    gap:30%;/* المسافة بين العناصر*/
    margin-left: 5% ;
}

ul{
    list-style: none;/* حتى تكون القائمة بدون ترقيم*/
    display: flex;/* ليسهل علي تحريك العناصر و التحكم فيها*/
    gap: 80px;/* المسافة بين العناصر*/
    margin-right: 300px; /*عشان احرك الليست كاملة */
   
    
   
    
}

a{
    color: rgb(252, 132, 184);
    font-size: large;
}


body{

    background-color: white;
    color: black;
}

.dark-mode{
    background-color: rgb(174, 33, 33);
    color: white;
}



/*--------------------------Responsive------------------------------------------*/

/*----------------Tab----------------------------------*/

@media screen and (max-width:900px) {
    
    .navigatbar{
    /* height: 150px; */
   display: flex; 
   align-items: center;
   justify-content: space-between; /* توزيع مسافات متساوية بين المجموعات */
  /* padding: 1px ; */
  gap: 5%;


 padding: 10px 20px;
padding-right: 5px;

  
  
    
  
    
}
}

/*------------Mobile---------------*/

@media screen and (max-width:600px) {


.navigatbar {
 /* background-color: rgb(15, 55, 107); */
 display: flex;
 /* height: 150px; */
justify-content: space-between;
 align-items:center;
 padding: 10px 20px;
padding-right: 5px;
 

 

 
 
}
}

