body{
    /* background-color: rgb(230, 186, 128); */
    background-image: url(https://img.freepik.com/premium-photo/female-hand-with-bottle-perfume-dark-copy-space_392895-24027.jpg); */
     /* background-size:cover;
    background-repeat: no-repeat; */
}

 /* .Navbar{
    background-color: rgb(34, 31, 29);
    background-image: url(https://img.pikbest.com/backgrounds/20220119/black-gold-light-effect-black-business-theme-background_6242794.jpg!sw800);
    display: flex;
    top: 0;
    height: 100px;
 }  */

#name{
    color: rgb(132, 153, 153);
}

.navbar{
    padding-right: 100px;
}


.main{
    /* background-color: rgb(189, 157, 116); */
    background-image: url(https://thedieline.com/wp-content/uploads/2020/10/2d8c12fc-3cc2-4cac-8b2d-a426d5e60dc2_MoS_PoisonIvy123OCT19.jpg);
    height: 600px;
   
    
}

/* .footer{
    background-color: rgb(207, 182, 149);
    display: flex;
    padding-top: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
} */

#footer{ 
   
    
   background-color: rgb(125, 144, 144);
   display: flex;
   height: 100%;
   justify-content:center;/*   توسيط للعناصر جزء لليمين و جزء لليسار*/
   align-items:center; /* بتوسط العنصر بشكل عامودي*/
   margin-top: 20%;
   padding: 20px 0;
   
}
footer {
    /* position: fixed; */ /* بنحذفها عشان الفوتر ما يغطي عالصور*/
    /* bottom: 0; */
    width: 100%;
}

#footul{
   padding-right: 20px;
    gap:30%;/* المسافة بين العناصر*/
    margin-left: 5% ;
}

ul{
    list-style: none;/* حتى تكون القائمة بدون ترقيم*/
    display: flex;/* ليسهل علي تحريك العناصر و التحكم فيها*/
    gap: 80px;/* المسافة بين العناصر*/
    margin-right: 300px; /*عشان احرك الليست كاملة */
    /* margin-left: 600px; */
    /* padding-top:10px; */
   
    
}